body {
        padding: 50px 0 30px;
}

a.navbar-brand {
    color: #FC4C02;
    text-shadow: none;
    font-weight: bold;
    font-size: 32px;
}

a.nav_connect_strava img{
    width: 150px;
    height: auto;
}
