<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='/css/style.css') }}">

    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='images/header.jpg') }}"> -->


</head>

<div class='navbar-container'>
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-family: 'Audiowide', cursive">VeloSpark</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/how_it_works">How It Works</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
<body>

        <div class='main-container'>
            <div class='inner-container'>
                <div class='main'>
                    <h1>Pick Your Passion</h1>
                    <div class='images'>
                        <a href="/form/bike"><img class='button' alt="Bike" src='https://d3nn82uaxijpm6.cloudfront.net/local/assets/icon-cycling-579503fcd575ddd009ea6b95b6e5aa94.png' srcset="https://d3nn82uaxijpm6.cloudfront.net/local/assets/icon-cycling@2x-4eb8045a7dbb6fe3fb6b975da33ef25b.png 1.5x">
                        </a>
                        <a href="/form/run"><img class='button' alt="Run" src="https://d3nn82uaxijpm6.cloudfront.net/local/assets/icon-running-b3337f2bd274444a9eb923ccb2fe4008.png" srcset="https://d3nn82uaxijpm6.cloudfront.net/local/assets/icon-running@2x-43dc018bedf3945b1d247160c8d36f4f.png 1.5x">
                        </a>
                    </div>
                </div>

            </div>
            <p>"Coloradans are a Lycra-obsessed bunch, but that passion for two-wheeled fun hits an extreme level of excitement when the snow first melts. With dry roads and sunny days stretching out ahead of us, we’re joining the frenzy—and helping you do the same—by highlighting some of the best road cycling routes (for beginners and experts alike!) along the Front Range and in Colorado’s famed high country. Clip in and enjoy the ride."<br>Source: <a href="http://www.5280.com/roadcycling">5280 Magazine</a>
            </p>
        </div>
    </div>
</body>
</html>
