<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- link to type ahead -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>

    <script src="../js/colorado_cities_typahead.js"></script>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

    <!-- <link rel=stylesheet type=text/css href="{{ url_for('static', filename='images/header.jpg') }}"> -->

</head>

<div class='navbar-container'>
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="font-family: 'Audiowide', cursive">VeloSpark</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/how_it_works">How It Works</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
<body>
    <div class="activity-description">
        <p>Excellent, let's go {{displayed_activity}}!</p>
    </div>
    <div class='form-container'>
        <div class='inner-container'>
            <form action='/results' method='POST'>
                <div class="form-group">
                    <label for="distance">How far do you want to go?</label>
                    <input type="number" class="form-control" name='distance', placeholder='distance (mi)'>
                </div>
                <div class="form-group">
                    <label for="elevation_gain">How much climbing do you want your ride to have?</label>
                    <input type="number" class="form-control" name='elevation_gain', placeholder='elevation gain (ft)'>
                </div>
                <div class="form-group">
                    <label for="moving_time">If You are constrained for time, what would you like your moving time to be?</label>
                    <input type="number" class="form-control" name='moving_time', placeholder='moving time (hrs)'>
                </div>
                <!-- <div id="the-basics">
                <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
            </div> -->
            <div class="form-group">
                <label for="city">What's the nearest city</label>
                <select type="text" class="form-control" name='city'>
                    <option selected>Select a city</option>
                    {% for o in city_list %}
                    <option value="{{ o }}">{{ o }}</option>
                    {% endfor %}
                    <option value="3">Three</option> -->
                </select>
            </div>
            <button type="submit" class="btn orange">Submit</button>
        </form>
    </div>
</div>
</div>
</body>
</html>
